
.ico-button{
	border-radius: 50%;
}

.ico-button .fa:hover{
	font-height: 30px;
}


.rounded-input{
	border-radius: 40px;
}


.cutlery{
	margin: 2px;
	display:inline !important;
}






#appnavbar{
	background-color:#E4184B;
	
}

#appnavbar .active{
	background-color:#EA3965;
}

#appnavbar a{
	color:white;
	font-weight:bold;
}

#appnavbar a:hover{
	background-color:#EA3965;
	color:white;
	font-weight:bold;
}






.producttoolbar{
	margin-bottom:2%;
	background-color:#E4184B;
	color:white;
	text-align:center;	
}

.producttoolbar img{
	
	height:125px;
	width:125px;
}

.mealToolbarIcon{
	margin-top:1%;
	margin-bottom:1%;
}

.mealToolbarInput{
	margin-top:10%;
	margin-bottom:3%;
}

.wineToolbarIcon{
	margin-top:5%;
	
}

.wineInputGroup{
	margin-top:3%;
}

#wineRangeSlider{
	border-radius:15px;
}

#wineRangeSlider .ngrs-handle{
	border-radius:15px;
}

#winetoolbar .radio{

}






#myCarousel{
	margin-bottom:2%;
}

.carousel-control {
  padding-top:5%;
  width:5%;
  background:rgba(1,1,1,0.8);
  z-index:100;
}


.productCarrouselCenter{
	position:relative;
	height:115px;
}

.productCarrouselExtras{
	display:none;
	color: white;
	position:absolute;

	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.productCarrousel:hover .productCarrouselExtras{
	background:rgba(0,0,0,0.8);
	display: block;
}

.productCarrouselIcon{
	width:100%;
	height:100%;
}

.productCarrouselIcon img{
	width:100%;
	height:100%;
}

.productCarrouselTitle{
	font-weight:bold;
	text-align:center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselInfos{

	text-align:center;
		
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselFooter{
	height:30px;
	line-height:30px;
	background-color:#E4184B;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

}

#productCarrouselLinks{
	width:100%;
	text-align:center;
}

#productCarrouselLinks td:hover{
	border : 1px dotted white;
	cursor:pointer;
}

.productCarrouselLink{
	text-decoration:none;
	color:white;
	font-weight:bold;
}

.productCarrouselLink:hover{
	text-decoration:none;
	color:white;
}




.product{
	margin-bottom:1%;
}


.productHeader{

	height:195px;
}


.productCenter{
	border-right:1px solid black;
	border-left:1px solid black;

	height:115px;
}


.productIcon{
	width:100%;
	height:100%;
}

.productIcon img{
	width:100%;
	height:100%;
}

.productTitle{
	font-weight:bold;
	text-align:center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

}

.productInfos{


	text-align:center;
		
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productFooter{
	height:30px;
	background-color:#E4184B;
	
	text-align:center;
	line-height:30px;
	border-right:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.productFooter a{
	
	text-decoration:none;
	color:white;
	font-weight:bold;
	cursor:pointer;
	
}


















