
.ico-button{
	border-radius: 50%;
}

.ico-button .fa:hover{
	font-height: 30px;
}


.rounded-input{
	border-radius: 3px;
}


.cutlery{
	margin: 2px;
	display:inline !important;
}




/* Navigation bar */

body{
	background-color:#F0F0F0;
}

#appnavbar{
	background-color:#DDDDDD;
	height:100px;
}

#appnavbar li {
	height:100%;
	
}

#mainImage{
	margin-top:10px;
	margin-left:20%;
	height:80px;
}

#appnavbar .active{
	background:none;
}

#appnavbar a{
	cursor:pointer;
	color : black;
	font-weight:bold;
	height:100px;
	background:none;
}


#navtool{
	float : right;
	
	margin-top : 0%;
}
#navName{
	color : black;
	font-weight: bold;
	
}

#navBorder{
	border-right: 1px solid white;
}


#home_text{

	color:#2D2D2D;
	font-size:150%;
	font-weight:bold;
	text-align:center;
	height:100px;
	vertical-align:middle;
	padding-top:1%;
}


#home_layout{
	margin-top:5%;
	text-align:center;
}

#home_layout input{
	margin-bottom:1%;
}

#home_layout .button{
	margin-top:2%;
	border:none;
	border-radius:3px;
	display:inline;
	width:49%;
	background-color:#C5092C;
	color:white;
	font-weight:bold;
}









#KeywordToolbar{
	
}


 

.buttonFind {
	text-align:center;
	cursor:pointer;
		margin-top:3%;
	margin-bottom:3%;
  background: #cc062e;
  background-image: -webkit-linear-gradient(top, #cc062e, #970721);
  background-image: -moz-linear-gradient(top, #cc062e, #970721);
  background-image: -ms-linear-gradient(top, #cc062e, #970721);
  background-image: -o-linear-gradient(top, #cc062e, #970721);
  background-image: linear-gradient(to bottom, #cc062e, #970721);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttonFind:hover {
  background: #eb123a;
  background-image: -webkit-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -moz-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -ms-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -o-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: linear-gradient(to bottom, #eb123a, #bf0b2c);
  text-decoration: none;
}



.producttoolbar{
	border-radius:3px;
	border:1px solid #DDDDDD;
	margin-bottom:2%;
	background-color:#E8E8E8;
	color:black;
	text-align:center;	
}

.producttoolbar img{
	
	height:120px;
	width:120px;
}

.mealToolbarIcon{
	margin-top:1%;
	margin-bottom:1%;
}

.mealToolbarInput{
	margin-top:10%;
	margin-bottom:3%;
}

.wineToolbarIcon{
	margin-top:5%;
	
}

.wineInputGroup{
	margin-top:3%;
}

#wineRangeSlider{
	border-radius:15px;
}

#wineRangeSlider .ngrs-handle{
	border-radius:15px;
}

#wineRangeSlider .ngrs-join{
	background-image:linear-gradient(#C5092C,#C5092C);
}

#winetoolbar .radio{

}






#myCarousel{
	margin-bottom:2%;
}

.carousel-control {
  padding-top:5%;
  width:5%;
  background:rgba(1,1,1,0.8);
  z-index:100;
}


.productCarrouselCenter{
	position:relative;
	height:115px;
}

.productCarrouselExtras{
	display:none;
	color: white;
	position:absolute;

	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.productCarrousel:hover .productCarrouselExtras{
	background:rgba(0,0,0,0.8);
	display: block;
}

.productCarrouselIcon{
	width:100%;
	height:100%;
}

.productCarrouselIcon img{
	width:100%;
	height:100%;
}

.productCarrouselTitle{
	font-weight:bold;
	text-align:center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselInfos{

	text-align:center;
		
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselFooter{
	height:30px;
	line-height:30px;
	background-color:#E4184B;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

}

#productCarrouselLinks{
	width:100%;
	text-align:center;
}

#productCarrouselLinks td:hover{
	border : 1px dotted white;
	cursor:pointer;
}

.productCarrouselLink{
	text-decoration:none;
	color:white;
	font-weight:bold;
}

.productCarrouselLink:hover{
	text-decoration:none;
	color:white;
}




.product{
	margin-bottom:6%;
	border : #DDDDDD;
	-moz-box-shadow: 0px 2px 2px 0px #c0c0c0;
	-webkit-box-shadow: 0px 2px 2px 0px #c0c0c0;
	-o-box-shadow: 0px 2px 2px 0px #c0c0c0;
	box-shadow: 0px 2px 2px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.productHeader{
	height:195px;

}


.productCenter{
	border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	padding-top:3px;
	height:90px;
	background-color:white;
}


.productIcon {
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	width:100%;
	height:100%;
		background-color:white;
		border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
}

.productIcon img{
	width:100%;
	height:100%;
}

.productTitle{
	font-weight:bold;
	text-align:center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-left:5px;
	padding-right:5px;
}

.productPrice{
	font-weight:bold;
	font-size: 18pt;
}

.productInfos{
	text-align:center;
		
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productFooter{
	height:30px;
	background-color:#cc062e;
	
	text-align:center;
	line-height:30px;
	border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.productFooter a{
	
	text-decoration:none;
	color:white;
	font-weight:bold;
	cursor:pointer;
	
}







.buttonLoad {
	cursor:pointer;
	text-align:center;
		margin-top:3%;
	margin-bottom:3%;
  background: #cc062e;
  background-image: -webkit-linear-gradient(top, #cc062e, #970721);
  background-image: -moz-linear-gradient(top, #cc062e, #970721);
  background-image: -ms-linear-gradient(top, #cc062e, #970721);
  background-image: -o-linear-gradient(top, #cc062e, #970721);
  background-image: linear-gradient(to bottom, #cc062e, #970721);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttonLoad :hover {
  background: #eb123a;
  background-image: -webkit-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -moz-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -ms-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: -o-linear-gradient(top, #eb123a, #bf0b2c);
  background-image: linear-gradient(to bottom, #eb123a, #bf0b2c);
  text-decoration: none;
}











