body{
	background-color: white;
	heigth : 100%;
	width : 100%;
}

/*
form .text{
	width: 49%;
	float: right;
}

form .buttons{
	width : 100%;
	padding : auto;
	margin : auto; 
	display : inline-block;
	text-align : center;
}
*/


.mealCarrouselRow{
	width:1500px;
	margin:1% auto;	
}

.navCarrouselButtons{
	width:73px;
	height:150px;
	background-color : white;
}

.navCarrouselButtons img{
	height:100%;
}

.productCarrouselGrid{
	margin: 0 auto;
	width : 90%;
	overflow: hidden;
}

.productCarrousel{
	display:block;
	margin : 1%;
	margin-top : 0px;
	margin-bottom : 0px;
	width: 10%;
	height: 150px;
	text-align: center;
	float: left;
	position:relative;
}

.productCarrouselCenter{
	height:70%;
	position:relative;
}

.productCarrouselExtras{
	display:none;
}

.productCarrousel:hover .productCarrouselExtras{
 	background:rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	color: white;
	display: block;
	height:100%;
	position:absolute;
	font-weight:bold;
	height:100%;
	width:100%;
}

.productCarrouselIcon{
	width:100%;
	height:100%;
}

.productCarrouselIcon img{
	width:100%;
	height:100%;
}

.productCarrouselTitle{
  	width: 100%;   
	height:30%;
	
	font-weight:bold;
	
	
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselInfos{
	width:100%;
	height:70%;
	
	text-align:center;
		
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.productCarrouselFooter{
	height:30%;
	background-color:#E4184B;

}

.productCarrouselFooter a{
	text-decoration:none;
	color:black;
	cursor:pointer;
}

.productCarrouselRating{
	height:15%;
	text-align: center;
	color:#FFDE26;
	
}











.productGrid{
	margin: 0 auto;
	width : 1090px;
	overflow: hidden;
}


.product{
	display:block;
	margin : 1%;
	width: 250px;
	height: 300px;
	text-align: center;
	float: left;
	position:relative;
	border:1px solid blue;
}

.productHeader{
	height:50%;
}

.productCenter{
	height:35%;
}

.productFooter{
	height:15%;
	background-color:#E4184B;
}

.productTitle{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	
	height:30%;
	font-weight:bold;
}

.productIcon{
	text-align: left;
	width:100%;
	height:100%;
}

.productIcon img{
	width:100%;
	height:100%;
}

.productInfos{

}

.productRating{
	color:#FFDE26;
	
}








.title{
	text-align: center;
}


.img-ico{
	
	position :relative;
	/* -webkit-filter: blur(1px);
           -moz-filter: blur(1px);
            -ms-filter: blur(1px);
             -o-filter: blur(1px);
                filter: blur(1px); */
    width: 195px;
}

.img-ico img{
	width: 195px;
	height: 145px;
}

.description{
	display: none;
}

.img-ico:hover .description{
  background:rgba(0,0,0,0.8);
 
  
	position: absolute;
	top: 0px;
	left: 0px;
	color: white;
	display: block;
}

.desc{
	padding: 5px;
	text-align: center;
}

.cutlery{
	margin: 2px;
	display:inline !important;
}

.block{
	display: inline-block;
}

.no-padding{
	padding: 0px !important;
}

.head{
	padding-bottom: 10px;
}

.content{
	padding-top: 5%;
}





#login_layout{
	width:300px;
	
	margin-top : 10%;
	margin-left: 15%;
	
	padding : 2%;

	border: 1px solid black;
	
}

#signup_layout{
	width:400px;
	
	margin-top : 10%;
	margin-left: 15%;
	
	padding : 1%;

	border: 1px solid black;
	
}

.ico-button{
	border-radius: 50%;
}

.ico-button .fa:hover{
	font-height: 30px;
}



.rounded-input{
	border-radius: 40px;
}





