<div class="row">
	<div id="home_text" class="col-md-8 col-md-offset-2">
		
			{{locale_string.HOME_TEXT}}
	
	</div>
</div>

<div id="home_layout" class="row">
	<!-- BEGIN LOGIN LAYOUT -->
	<div id="login_layout" class="col-md-6 col-md-offset-3" ng-show="!User.isLogged && !isSubscribing">
	
		<form name="loginForm" ng-submit="onLogin()" novalidate>
			
			<div class="row">
				
				<input type="text" class="form-control rounded-input"
					ng-model="userDatas.identifiant" required placeholder="{{locale_string.LOGIN}}"/>
			</div>
			
			<div class="row">
				
				<input type="password" class="form-control rounded-input"
					ng-model="userDatas.password" required placeholder="{{locale_string.PASSWORD}}"/>
			</div>
			
			<div class="row">
				<input class="form-control button rounded-input" type="submit" value="{{locale_string.TO_LOG_IN}}" 
					ng-disabled="loginForm.$invalid" />
				<input class="form-control button rounded-input" type="button" value="{{locale_string.TO_SIGN_UP}}"
					 ng-click="subscribe(true)" />
			</div>		
		</form>
		
	</div><!-- END LOGIN LAYOUT -->
		
	<!-- BEGIN SIGNUP LAYOUT -->	
	<div id="signup_layout" class="col-md-6 col-md-offset-3" ng-show="isSubscribing">
		<form id="signup_form" ng-submit="onSignup()">
			<div class="row">
				
				<input type="text" class="form-control rounded-input" id="signup_login" name="signup_login"
					 ng-model="userDatas.identifiant" placeholder="{{locale_string.LOGIN}}"/>
			</div>
		
			
			<div class="row">
				<input type="password" class="form-control rounded-input" id="signup_pass" name="signup_pass"
					 ng-model="userDatas.password" placeholder="{{locale_string.PASSWORD}}"/>
			</div>

			<div class="row">
				<input type="text" class="form-control rounded-input" id="signup_firstname" name="signup_firstname"
					 ng-model="userDatas.firstname" placeholder="{{locale_string.FIRSTNAME}}"/>
			</div>
			<div class="row">
				<input type="text" class="form-control rounded-input" id="signup_lastname" name="signup_lastname"
					 ng-model="userDatas.lastname" placeholder="{{locale_string.LASTNAME}}"/>
			</div>
			

			<div class="row">
				<input type="text" class="form-control rounded-input" id="signup_age" name="signup_age"
					 ng-model="userDatas.age" placeholder="{{locale_string.YOUR_AGE}}"/>
			</div>
			
			<div class="row">
				<input type="text" class="form-control rounded-input" id="signup_cp" name="signup_cp"
				 ng-model="userDatas.zipCode" placeholder="{{locale_string.ZIP_CODE}}"/>
			</div>
			
			<div class="row">
				<input type="submit"  value="{{locale_string.TO_SIGN_UP}}" class="form-control button rounded-input" />
				<input type="button" class="form-control button rounded-input"
				  ng-click="subscribe(false)"
				  value="{{locale_string.CANCEL}}"/>
			</div>		
		</form>
	</div><!-- END SIGNUP LAYOUT -->
	<!-- BEGIN ACCOUNT LAYOUT -->	
	<div id="account_layout" class="col-md-6 col-md-offset-3" ng-show="User.isLogged">
		<form id="account_form">
		
			<div class="row">
				<label for="account_login">{{locale_string.LOGIN}} :</label>
				<input type="text" class="form-control rounded-input" id="account_login" name="account_login"
					 ng-model="User.datas.identifiant" readonly/>
			</div>
			
			<div class="row">
				<label for="signup_pass">{{locale_string.PASSWORD}} :</label>
				<input type="password" class="form-control rounded-input" id="signup_pass" name="signup_pass"
					 ng-model="User.datas.password" readonly/>
			</div>
			
			<div class="row">
				<label for="signup_firstname">{{locale_string.FIRSTNAME}} :</label>
				<input type="text" class="form-control rounded-input" id="signup_firstname" name="signup_firstname"
					 ng-model="User.datas.firstname" readonly/>
			</div>
			<div class="row">
				<label for="signup_lastname">{{locale_string.LASTNAME}} :</label>
				<input type="text" class="form-control rounded-input" id="signup_lastname" name="signup_lastname"
					 ng-model="User.datas.lastname" readonly/>
			</div>

			<div class="row">
				<label for="signup_age">{{locale_string.YOUR_AGE}} :</label>
				<input type="number" class="form-control rounded-input" id="signup_age" name="signup_age"
					 ng-model="User.datas.age" readonly/>
			</div>
			
			<div class="row">
				<label for="signup_cp">{{locale_string.ZIP_CODE}} :</label>
				<input type="text" class="form-control rounded-input" id="signup_cp" name="signup_cp"
				 ng-model="User.datas.zipCode" readonly/>
			</div>
			
			<div class="row">
				<input type="button" class="form-control button rounded-input"
				  ng-click="onLogout()"
				  value="{{locale_string.TO_LOG_OUT}}"/>
			</div>		
		</form>
	</div><!-- END ACCOUNT LAYOUT -->

</div>	